.header
{
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}
.logo{
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #ece1fe;
}
.button{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background: #535361;
    color: blue;
    border: non;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
.button:hover{
    background: #626870;
}